




* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



.picture {
    height: 380px;
    background-image: url("Land1.jpg");
    background-position: top;
    background-size: cover;
    opacity: 1.5;
}




body {
    background: linear-gradient(70deg, #FFFFFF, #0462F0);
    margin: 25px;
    border: 3px solid orange;
}

table {
    background: #FFFFFF;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 370px;
    padding: 10px;
    opacity: 0.8;
    border-radius: 10px;
}


button {
    width: 370px;
    background: #0622F6;
    margin-left: 739px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
}
