* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100%;
    background: linear-gradient(0deg, #FFFFFF, #0462F0);
}

#header {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}


body {
    margin: 25px;
}

#input_table {
    background: #80808088;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid lightblue;
    border-radius: 10px;
    color: #000000;
}

#names_list {
    background: #80808088;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 380px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid lightblue;
    border-radius: 10px;
    color: #000000;
}

table td.date {
    text-align: right;
}

table {
    width:350px;
}

#creators {
    background: #80808088;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid lightblue;
    border-radius: 10px;
    color: #000000;
}

button {
    width: 400px;
    height: 25px;
    background: #0622F6;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: #FFFFFF;
    opacity: 0.7;
}

#checkin_data {
    text-align: center;
}
