* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100%;
    background: linear-gradient(0deg, #FFFFFF, #0462F0);
}

.picture {
    height: 380px;
    background-image: url("Land1.jpg");
    background-position: top;
    background-size: cover;
    opacity: 1;
    border: 3px solid lightblue;
    border-radius: 10px;
}

body {
    margin: 25px;
}

#input_table {
    background: #FFFFFF;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 370px;
    padding: 10px;
    opacity: 0.9;
    border-radius: 10px;
    border: 3px solid lightblue;
    border-radius: 10px;
}

#names_list {
    background: #FFFFFF;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 350px;
    padding: 10px;
    opacity: 0.9;
    border-radius: 10px;
    border: 3px solid lightblue;
    border-radius: 10px;
}

table td.date {
    text-align: right;
}

table {
    width: 350px;
}

#creators {
    background: #FFFFFF;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 370px;
    padding: 10px;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    border: 3px solid lightblue;
    border-radius: 10px;
}

button {
    width: 370px;
    background: #0622F6;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: #FFFFFF;
}

#checkin_data {
    text-align: center;
}
